.input-data input{
    margin-top: 30px;
    border-radius: 30px;
    height: 40px;
    width: 350px;
    font-size: 17px;
    border: #000 solid 3px;
    box-shadow: 0 0 0 0 white,
    5px 5px 0 0 #0f172a;
    transition-duration: 200ms;   
}

select{
    width: 100px;
    padding: 10px;
    border: 2px solid #9beb9d;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

select:hover{
    border-color: #45a049;
}

select:focus{
    border-color: #fff;
    box-shadow: 0 0 5px #45a049;
}

option{
    background-color: #fff;
    color: #333;
}
.list{
    display: flex;
    gap: 0px;
    justify-content: flex-start;
    align-items: center;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

thead{
    background-color: #f1ca61;
    color: black;
}

thead th{
    padding: 12px 15px;
    text-align: center;
}

tbody tr:nth-child(even){
    background-color: #f9f9f9;
}

tbody tr:nth-child(odd){
    background-color: #fff;
}

tbody td{
    padding: 12px 15px;
    border: 1px solid #ddd;
}

tbody tr:hover{
    background-color: #f1f1f1;
}

.item{
    margin-top: 15px;
    margin-left: 30px;
    padding: 10px;
    border: 30px;
    background-color: #71f86c;
    border: 1px solid #ccc;
    text-align: center;
    border: 2px solid #0f2a11;
    box-shadow: 0 0 0 0 white,
    5px 5px 0 0 #000000;
}

.note{
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #45a040;
    color: white;
    padding: 15px;
    border-radius: 30px;
    z-index: 1000;
    font-family: Arial, sans-serif;
    animation: fadInOut 1.5s;
}

form{
    padding-top: 50px;
}
.left-over{
    margin-top: 15px;
    
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a{
    border-bottom: #000 solid 1px;
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}

.action{
    display: flex;
    padding: 10px 115px;
    border-bottom: #00000075 solid 1px;
}

.show{
    display: block;
}

@keyframes fadInOut{
    0%{
        opacity: 0;
    } 10% {
        opacity: 1;
    } 90% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}