<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin UI</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
</head>
<body>
<section class="w3-card">
  <div id="loading">
    <div class="spinner"></div>
  </div>
  <header id="content1" style="display: none;">
    <div class="w3-display-container">
      <a href="/admin/panal" onclick="loading_animation();"><img width="15%" class="w3-display-topleft" src="{{ url_for('static', filename='img/back.svg') }}" alt=""></a>
      <img width="100%" class="round2" src="{{ url_for('static', filename='img/logo.avif') }}">
    </div>
  </header>
  <main id="content2" class="main4" style="display: none;">
    <div class="container" style="margin-top: 50px;">
        <h1>Available Sections</h1>
        <table>
            <thead>
                <th>
                    Grades
                </th>
                <th>
                    Actions
                </th>
            </thead>
            <tbody>
              
                {% for section in sections | getList %}
                <tr>
                    <td>{{ section[1] }} : {{ section[2] }}</td>
                    <td><a class="btn text" style="background-color: rgb(131, 244, 123);" href="/admin/panal/get_students/{{ section[1] }}/{{ section[2] }}">view</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </main>
</section>
</div>
<script src=" {{url_for('static',filename='js/action.js')}} "></script>
<script src=" {{url_for('static',filename='js/api.js')}} "></script>
</body>
</html>
